.container {
    max-width: 960px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 40px;
    display: block;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 9px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
@media screen and (max-width:300px) {
    #return-to-top {
        display:none!important
    }
}
@media screen and (max-width:767px) {
    #return-to-top {
        bottom: 15px;
        right: 15px;
        width: 31px;
        height: 31px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
    }
    #return-to-top i {
        left: 9px;
        top: 5px;
        font-size: 16px;
    }
    #return-to-top:hover i {
        color: #fff;
        top: 1px;
    }
}

.archive {
    margin: 2em 0;
    max-width: 550px
}

.archive .collection-title {
    font-family: Athelas, STHeiti, Microsoft Yahei, serif
}

.archive .collection-title .archive-year {
    margin: 15px 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px
}

.archive .archive-post {
    padding: 3px 20px;
    font-size: 18px;
    border-left: 1px solid #cacaca
}

.archive .archive-post .archive-post-time {
    margin-right: 10px;
    color: #8a8a8a
}

.archive .archive-post .archive-post-title .archive-post-link {
    color: #2980b9
}

.archive .archive-post::first-child {
    margin-top: 10px
}

.archive .archive-post:hover {
    border-left: 3px solid #2980b9;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px)
}

.archive .archive-post:hover .archive-post-time {
    color: #717171
}

.archive .archive-post:hover .archive-post-title .archive-post-link {
    color: #2980b9
}

@media screen and (max-width:767px) {
    .archive .collection-title .archive-year {
        margin: 10px 0;
        font-size: 24px
    }

    .archive .archive-post {
        padding: 5px 10px
    }

    .archive .archive-post .archive-post-time {
        font-size: 13px;
        margin-bottom: -3px;
        display: block
    }
}
